<%= form_for(@student) do |f|%>

    <label>Student Form:</label>
    <%= f.text_field :first_name%>

    <label>Student Form:</label>
    <%= f.text_field :last_name %>

    <%= f.submit %>

<%end %>