<%= form_for(@school_class) do |f| %>
    <label>School Class Form:</label><br>   
    <%= f.text_field :title %><br>

    <label>School Class Form:</label><br>   
    <%= f.number_field :room_number %><br>

    <%= f.submit %>

<% end %>



